body {
    background: limegreen;
}

element.style {
}
.elementor-widget-image-box .elementor-image-box-content {
    width: 100%;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
