{% extends 'base.html' %}

{% block title %}
Добавление статьи
{% endblock %}

{% block body %}
<div class="pt-4 my-lg-2 mt-lg-1 container">
    <h1>Добавить статью</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="my-lg-1 mt-lg-3 form-control" placeholder="Введите заголовок"><br>
        <textarea name="subtitle" id="subtitle" class="form-control" placeholder="Введите подзаголовок"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите текст статьи"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}

